.card-grid-drink{
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 20px;
      margin: 10px auto;
      max-width: 900px;
      text-align: center;
}

.card-drink{
      background-color: #e2d6b0;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.c-drink-DIV{
    background-color: #f9ebdc;
    border-radius:35px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
}

.c-drink-DIV img{
      width: 100%;
      height: 180px;
      object-fit: cover;
}

.c-drink-DIV h3{
    color: #ff7043;
}

.c-drink-DIV p{
    color: #ff7043;
}